@inherits LayoutComponentBase

<div @onmousedown="LayoutOnMouseDown" class="layout">
    <Header @ref="header" />
    <div class="body">
        @Body
    </div>
    <Footer />
</div>

@code {
    private Header header;
    private void LayoutOnMouseDown()
    {
        header.CloseMenu();
    }
}