@font-face {
    font-family: Rubik;
    src: url('../Fonts/Rubik.ttf');
}

body {
    margin: 0px;
    padding: 20px;
    margin: 0px;
    font-size: 14px;
    font-family: Rubik;
    color: #585858;
}

* {
    transition: .3s;
}

a {
    color: #00898f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}