h1 {
    font-weight: lighter;
    font-size: 34px;
}

p.m_center {
    max-width: 500px;
}

.logo {
    width: 200px;
    height: 80px;
    background-image: url('./Static/Icons/logo.svg');
    background-size: 200px 80px;
    margin-top:100px;
    margin-bottom:50px;
}

tr > td:first-child {
    font-weight: bolder;
}
tr > td:last-child {
    padding-left:60px;
}
tr {
    height: 30px;
}